{% extends 'base.html' %}
{% block content %}

<div class="text-center py-5">
    <h1 class="fw-bold display-4">Welcome to Ecommerce Market</h1>
    <p class="lead">Shop Cars, Mobiles, Machines, Food & Laptops in one place.</p>

    <a href="#" class="btn btn-warning btn-lg mt-3">Start Shopping</a>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body text-center">
                <h5>Fast Delivery</h5>
                <p>Cash on Delivery Available</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body text-center">
                <h5>Trusted Brands</h5>
                <p>Top companies available</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body text-center">
                <h5>Secure Checkout</h5>
                <p>Simple & Safe ordering</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
